<div class="cli_sectionborder">
  <table class="support_table">
    <tr class="catagory">
      <th calss="th1">Patient name</th>
      <th class="th2">Support Message</th>
      <th class="th3">Last Support Message</th>
    </tr>

    <div class="message">
      {{#each patient_message}}
        <form action="" method="POST">
          <tr>
            <td>{{this.name}}</td>
            <td>
              {{#if this.message}}
                <input hidden="true" name="id" id="id" value={{this.id}} />
                <input
                  placeholder="Edit support message"
                  name="message"
                  id="support_msg"
                />
                <button type="submit"> Edit </button>
                <td>{{this.message}}</td>

              {{else}}
                <input hidden="true" name="id" id="id" value={{this.id}} />
                <input
                  placeholder="Enter support message"
                  name="message"
                  id="support_msg"
                />
                <button type="submit"> Submit </button>
                <td>No support message yet</td>
              {{/if}}

            </td>
          </tr>
        </form>
      {{/each}}
    </div>

  </table>
</div>