<div class="cli_table" >
    <table class = "parent" frame="BOX">
        <tr class = "comments">
            <th>Patient Name</th>
            <th>Blood glucose level<br>(nmol/L)</th>
            <th>Weight<br>(kg)</th>
            <th>Doses of insulin intake<br>(doses)</th>
            <th>Exercise Step Count<br>(steps)</th>
        </tr>
        {{#each patient_comment}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.blood_level}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.insulin_intake}}</td>
            <td>{{this.exercise}}</td>
        </tr>
        {{/each}}      
    </table>
</div> 
   