<div class="data" style = "font-size: 1em;">  
             {{#each patients}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.blood_level}}</td>
                <td>{{this.weight}}</td>
                <td>{{this.insulin_intake}}</td>
                <td>{{this.exercise}}</td>
            </tr>
            {{/each}}  
           
</div>