<div class="cli_sectionborder">
    <table>
        <tr class = "notes">
            <th>Patient Name</th>
            <th>Blood glucose level<br>(nmol/L)</th>
            <th>Weight<br>(kg)</th>
            <th>Doses of insulin intake<br>(doses)</th>
            <th>Exercise Step Count<br>(steps)</th>
        </tr>
        

        
        <div class="thresholds">    
            {{#each patient_threshold}}
            <tr>
                <td>
                    {{this.name}}
                </td>
                <td>
                    
                    <input type="checkbox" id= {{this.id}} 
                     name="blood_level" {{#if this.patient_input.blood_level}}checked{{/if}}>
                    <label for="record_bgl">recordance needed</label><br><br>
                    {{#unless this.blood_level_l}}
                    <form action="" method="POST" >
                        <input hidden = true name = "id" id = "id" value = {{this.id}} />
                        <label for="ut_bgl">upper threshold:</label><br>
                        <input  hidden = true type="text" name="key" value="blood_level"><br>
                        <input type="number" step = "0.1" name="upper_bound" value={{this.blood_level_u}}><br><br>
                        <label for="lt_bgl">lower threshold:</label><br>
                        <input type="number" step = "0.1" name="lower_bound" value={{this.blood_level_l}}><br><br>
                        <button type="submit"> submit </button>
                      </form>
                      {{else}}
                      <label for="ut_bgl">upper threshold:</label><br>
                      {{this.blood_level_u}}<br><br>
                      <label for="lt_bgl">lower threshold:</label><br>
                      {{this.blood_level_l}}<br><br>
                      {{/unless}}

                </td>

                
                <td>
                    <input type="checkbox" id="record_weight" name="weight" {{#if this.patient_input.weight}}checked{{/if}}>
                    <label for="record_weight">recordance needed</label><br><br>

                    {{#unless this.weight_l}}
                    <form action="" method="POST" >
                        <input hidden = true name = "id" id = "id" value = {{this.id}} />
                        <label for="ut_weight">upper threshold:</label><br>
                        <input  hidden = true type="text" name="key" value="weight"><br>
                        <input type="number" step = "0.1" name="upper_bound" value={{this.weight_u}}><br><br>
                        <label for="lt_weight">lower threshold:</label><br>
                        <input type="number" step = "0.1" name="lower_bound" value={{this.weight_l}}><br><br>
                        <button type="submit"> submit </button>
                      </form>
                      {{else}}
                      <label for="ut_weigh">upper threshold:</label><br>
                      {{this.weight_u}}<br><br>
                      <label for="lt_weight">lower threshold:</label><br>
                      {{this.weight_l}}<br><br>
                      {{/unless}}
                </td>
                

                
                <td>
                    <input type="checkbox" id="record_insulin" name="insulin_intake" {{#if this.patient_input.insulin_intake}}checked{{/if}}>
                    <label for="record_insulin">recordance needed</label><br><br>

                    {{#unless this.insulin_intake_l}}
                    <form action="" method="POST" >
                        <input hidden = true name = "id" id = "id" value = {{this.id}} />
                        <label for="ut_insulin">upper threshold:</label><br>
                        <input  hidden = true type="text" name="key" value="insulin_intake"><br>
                       <input type="number" step = "0.1" name="upper_bound" value={{this.insulin_intake_u}}><br><br>
                        <label for="lt_insulin">lower threshold:</label><br>
                        <input type="number" step = "0.1" name="lower_bound" value={{this.insulin_intake_l}}><br><br>
                        <button type="submit"> submit </button>
                      </form>
                      {{else}}
                      <label for="ut_insulin">upper threshold:</label><br>
                      {{this.insulin_intake_u}}<br><br>
                      <label for="lt_insulin">lower threshold:</label><br>
                      {{this.insulin_intake_l}}<br><br>
                      {{/unless}}                      
                </td>
                <script>
                    function handleInput() {
                        console.log("id");
                    }
                </script>
                
                
                <td>
                    <input type="checkbox" id="record_step" onchange="handleInput" name="exercise" {{#if this.patient_input.exercise}}checked{{/if}}>
                    <label for="record_step">recordance needed</label><br><br>


                    {{#unless this.exercise_l}}
                    <form action="" method="POST" >
                        <input hidden = true name = "id" id = "id" value = {{this.id}} />

                        <label for="ut_step">upper threshold:</label><br>
                        <input  hidden = true type="text" name="key" value="exercise"><br>
                        <input type="number" step = "0.1" name="upper_bound" value={{this.exercise_u}}><br><br>
                        <label for="lt_step">lower threshold:</label><br>
                        <input type="number" step = "0.1" name="lower_bound" value={{this.exercise_l}}><br><br>
                        <button type="submit"> submit </button>
                      </form>
                      {{else}}
                      <label for="ut_step">upper threshold:</label><br>
                      {{this.exercise_u}}<br><br>
                      <label for="lt_step">lower threshold:</label><br>
                      {{this.exercise_l}}<br><br>
                      {{/unless}}         
                </td>
            </tr>

            {{/each}}
        </div>
        
        
    </table>
</div>    