<div class="cli_sectionborder">
    <table>
        <tr class = "notes">
            <th>Patient Name</th>
            <th>Blood glucose level<br>(nmol/L)</th>
            <th>Weight<br>(kg)</th>
            <th>Doses of insulin intake<br>(doses)</th>
            <th>Exercise Step Count<br>(steps)</th>
        </tr>

        <div class="thresholds">    
            {{#each patient_threshold}}
            <tr>
                <td>
                    {{this.name}}

                </td>
                <td>
                    <input type="checkbox" id="record_bgl" name="record_bgl" value="record_bgl" {{#if this.patient_input.blood_level}}checked{{/if}}>
                    <label for="record_bgl">recordance needed</label><br><br>

                    <form>
                        <label for="ut_bgl">upper threshold:</label><br>
                        <input type="text" id="ut_bgl" name="ut_bgl" value={{this.blood_level_u}}><br>
                        <label for="lt_bgl">lower threshold:</label><br>
                        <input type="text" id="lt_bgl" name="lt_bgl" value={{this.blood_level_l}}>
                      </form>
                </td>
                <td>
                    <input type="checkbox" id="record_weight" name="record_weight" value="record_weight" {{#if this.patient_input.weight}}checked{{/if}}>
                    <label for="record_weight">recordance needed</label><br><br>

                    <form>
                        <label for="ut_weight">upper threshold:</label><br>
                        <input type="text" id="ut_weight" name="ut_weight" value={{this.weight_u}}><br>
                        <label for="lt_weight">lower threshold:</label><br>
                        <input type="text" id="lt_weight" name="lt_weight" value={{this.weight_l}}>
                      </form>
                </td>
                <td>

                    <input type="checkbox" id="record_insulin" name="record_insulin" value="record_insulin" {{#if this.patient_input.insulin_intake}}checked{{/if}}>
                    <label for="record_insulin">recordance needed</label><br><br>

                    <form>
                        <label for="ut_insulin">upper threshold:</label><br>
                        <input type="text" id="ut_insulin" name="ut_insulin" value={{this.insulin_intake_u}}><br>
                        <label for="lt_insulin">lower threshold:</label><br>
                        <input type="text" id="lt_insulin" name="lt_insulin" value={{this.insulin_intake_l}}>
                      </form>
                </td>
                <td>
                    <input type="checkbox" id="record_step" name="record_step" value="record_insulin" {{#if this.patient_input.exercise}}checked{{/if}}>
                    <label for="record_step">recordance needed</label><br><br>

                    <form>
                        <label for="ut_step">upper threshold:</label><br>
                        <input type="text" id="ut_step" name="ut_step" value={{this.exercise_u}}><br>
                        <label for="lt_step">lower threshold:</label><br>
                        <input type="text" id="lt_step" name="lt_step" value={{this.exercise_l}}>
                      </form>
                </td>
            </tr>
            {{/each}}
        </div>
        
    </table>
</div>    