          <table>

         <form name = "data" action="" onsubmit="return validateForm()" method="POST" >

              {{#each flash}}
                <p class="alert">{{this}}</p>
              {{/each}}


              {{#if this.message}}
                <input hidden="true" name="id" id="id" value={{this.id}} />
                <input
                  placeholder="Edit support message"
                  name="message"
                  id="support_msg"
                />
                <button type="submit"> Edit </button>
                <td>{{this.message}}</td>

              {{else}}
                <input hidden="true" name="id" id="id" value={{this.id}} />
                <input
                  placeholder="Enter support message"
                  name="message"
                  id="support_msg"
                />
                <button type="submit"> Submit </button>
                <td>No support message yet</td>
              {{/if}}
        </form>


          <form action="" method="POST" >

            <tr>
              {{#if data.blood_level.required}}
                <input type="hidden" name="key" value="blood_level" hidden = true>
                <td>Blood glucose level(mmol/L)</td>
                {{#if data.blood_level.recorded}}
                <td> {{data.blood_level.data}} </td>
                <td> {{data.blood_level.comment}} </td>
                {{else}}
                <td><input type="number" step = "0.1" placeholder="Enter data..."  name="value" id="patientdata_bgl" required></td>
                <td><input type="text" placeholder="Enter Comment..."  name="comment" id="patientcmt_bgl" ></td>
                {{/if}}
                
                {{#unless data.blood_level.recorded}}
                   <td > <input type="submit">  </td>

               
                {{/unless}}
              {{/if}}
            </tr>
          </form>  

          <form action="" method="POST" >
            <tr>
              {{#if data.weight.required}}
                <input type="hidden" name="key" value="weight" hidden = true>
                <td>Your weight(kg)</td>
                {{#if data.weight.recorded}}
                <td> {{data.weight.data}} </td>
                <td> {{data.weight.comment}} </td>
                {{else}}
                <td><input type="number" step = "0.1" placeholder="Enter data..."  name="value" id="patientdata_weight" required></td>
                <td><input type="text" placeholder="Enter Comment..."  name="comment" id="patientcmt_weight" ></td>
                {{/if}}
                {{#unless data.weight.recorded}}
                <td> <button type="submit"> submit </td>
                {{/unless}}
              {{/if}}
            </tr>
          </form>
          
          <form action=""  onsubmit="return validateForm()" method="POST" >
            <tr>
              {{#if data.insulin_intake.required}}
                <input type="hidden" name="key"  value="insulin_intake" hidden = true>
                <td>Doses of insulin taken(doses)</td>
                {{#if data.insulin_intake.recorded}}
                <td> {{data.insulin_intake.data}} </td>
                <td> {{data.insulin_intake.comment}} </td>
                {{else}}
                <td><input type="number" step = "0.1" placeholder="Enter data..."  name="value" id="patientdata_insulin" required></td>
                <td><input type="text" placeholder="Enter Comment..."  name="comment" id="patientcmt_insulin" ></td>
                {{/if}}
                {{#unless data.insulin_intake.recorded}}
                <td> <button type="submit"> submit </td>
                {{/unless}}
              {{/if}}
            </tr>
          </form>

          {{#if data.exercise.required}}
          <form action="" name = "data1" onsubmit="return validateForm()" method="POST" >
            <tr name = "row">
                <input type="hidden" name="key" value="exercise" hidden = true>
                <td>Exercise(step count)</td>
                {{#if data.exercise.recorded}}
                <td> {{data.exercise.data}} </td>
                <td> {{data.exercise.comment}} </td
                {{else}}>
                <td><input type="number" step = "0.1" placeholder="Enter data..." name="value" id="patientdata_exercise" required></td>
                <td><input type="text" placeholder="Enter Comment..." name="comment" id="patientcmt_exercise" ></td>
                {{/if}}
                {{#unless data.exercise.recorded}}
                <td> <button type="submit"> submit </td>
                {{/unless}}
            </tr>
          </form>
          {{/if}}
          </table>
            