<div class="cli_sectionborder">
  <table>
    <th>
      <div class="tooltip">Patient Name
          <span class="tooltiptext">click patient's name to view patient's data</span>
      </div>
    </th>
    <th>Blood Glucose Level<br />(nmol/L)</th>
    <th>Weight<br />(kg)</th>
    <th>Doses of Insulin Intake<br />(doses)</th>
    <th>Exercise Step Count<br />(steps)</th>
    <th>Clinician Notes</th>

    {{#each patients}}
      <tr>
        <td>
          <div class="patient_name">
            <a href="/clinician/{{../c_id}}/{{this.id}}">
              {{this.name}}
            </a>
          </div>
        </td>

        {{#if this.blood_highlight}}
          <td>&#10071;{{this.blood_level}}
            <div class="tooltip">&#10071;
              <span class="tooltiptext">data out of thresholds</span>
            </div>
          </td>
        {{else}}
          <td>{{this.blood_level}}</td>
        {{/if}}

        {{#if this.weight_highlight}}
          <td>&#10071;{{this.weight}}
            <div class="tooltip">&#10071;
              <span class="tooltiptext">data out of thresholds</span>
            </div>
          </td>
        {{else}}
          <td>{{this.weight}}</td>
        {{/if}}

        {{#if this.insulin_highlight}}
          <td>&#10071;{{this.insulin_intake}}
            <div class="tooltip">&#10071;
              <span class="tooltiptext">data out of thresholds</span>
            </div>
          </td>
        {{else}}
          <td>{{this.insulin_intake}}</td>
        {{/if}}

        {{#if this.exercise_highlight}}
          <td>&#10071;{{this.exercise}}
            <div class="tooltip">&#10071;
              <span class="tooltiptext">data out of thresholds</span>
            </div>
          </td>
        {{else}}
          <td>{{this.exercise}}</td>
        {{/if}}

        <td>
          <form action="{{../c_id}}/{{this.id}}/addnote" method="POST" >

        
          <input
            type="text"
            placeholder="Enter comment..."
            name="note"
            id="cli_cmt"
          />
          <button type="submit"> submit </button>
          </form>
        </td>
      </tr>
    {{/each}}
  </table>
  <br /><br />
</div>