<!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/clinician_template.css" />
        <META http-equiv="Content-Style-Type" content="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>clinician patient's data</title>
        <style>
            body > * {  /* this is just shading to show the different regions */
                font-family: "Roboto", sans-serif;
            }
    
            body { /* page layout - desktop version */
                display: grid;
                grid-template-columns: 5fr 20fr 10fr;
                grid-template-rows: auto auto;
                grid-gap:0;
                margin:0;
    
                grid-template-areas: 
                    "header header header"
                    "nav main aside"
                    "footer footer footer";
                }
            
            /* assign regions of the page to the grid */
            header {grid-area: header;}
            aside {grid-area: aside;}
            main {grid-area: main;}
            nav {grid-area: nav;}
            footer{grid-area: footer;}
    
            @media screen and (max-width: 640px) {  /* page layout for phones */
                body {
                    display: flex;
                    flex-direction: column;
                }
                nav
                {
                    display: none;
                    flex-direction: column;
                }
            }
        </style>  
    </head>
    <body>
    <header>
        <div class = "menu">
            <button class = "elem"><a href="Deliverable1/aboutdiabetes.html" style="text-decoration: none; color: black;">About diabetes</a></button>
            <button class = "elem"><a href="Deliverable1/aboutthiswebsite.html" style="text-decoration: none; color: black;">About this website</a></button>
            <button class = "elem"><a href="Login/login.html" style="text-decoration: none; color: black;">log out</a></button>
        </div>
        
    </header>
    <nav>
        <div class="sidenav">
            <p>
                <img src="page-logo.png" style="width: 80%; margin-left: 20px;">
            </p>
            <p>
              <a href="clinician_dashboard.html">Dashboard</a>
            </p>
            <p class="active">
              <a href="clinician_patientdata.html">Patient's Data</a>
            </p>
            <p>
              <a href="clinician_patientcomment.html">Patient's Comments</a>
            </p>
            <p>
              <a href="clinician_clinicalnotes.html">Clinical Notes</a>
            </p>
            <p>
              <a href="clinician_message.html">Messages</a>
            </p>
          </div>
        </nav>

    <main>
    
    <div class = "greeting">
        <h1>For {{this.name}}</h1>
        <h2>Today: Tuesday, March 15</h2>
    </div>
    
        

    <table class = "parent" frame="BOX">
        
             <tr class = "catagory" style = "font-size: 1.5em;">
                <td style="width:18%; height:15%; font-family: Roboto;">Date</td>
                <td style="height: 15%; font-family: Roboto">Blood glucose level</td>
                <td style="height: 15%; font-family: Roboto">Weight</td>
                <td style="height: 15%; font-family: Roboto;">Doses of insulin intake</td>
                <td style="height: 15%; font-family: Roboto;">Exercise Step Count</td>
            </tr>
       
           
       
        <div class="data" style = "font-size: 1em;">    
            {{#each patient_data}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.blood_level.data}}</td>
                <td>{{this.weight.data}}</td>
                <td>{{this.insulin_intake.data}}</td>
                <td>{{this.exercise.data}}</td>
            </tr>
            {{/each}}
       
        </div>
        
    </table>
    
    </main>
    </body>
</html>