<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/about.css" />

    <title>Template</title>
  </head>

  <!-- content of webpage begins here -->
  <body>  
    <header>
      <script>
        var _hmt = _hmt || []; (function() { var hm =
        document.createElement("script"); hm.src =
        "//hm.baidu.com/hm.js?73c27e26f610eb3c9f3feb0c75b03925"; var s =
        document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s); })();
      </script>

      <ul class="topnav">
        <li><a class="active" href="">Homepage</a></li>
        <li><a href="">History Data</a></li>
        <li><a href="">Leader Board</a></li>
        <li><a href="">Change Password</a></li>
        <li><a href="/aboutWebsite">About this Website</a></li>
        <li><a href="/aboutDiabetes">About Diabetes</a></li>
        <li><a href="">Log Out</a></li>
        <li class="icon">
          <a
            href="javascript:void(0);"
            style="font-size:15px;"
            onclick="myFunction()"
          >☰</a>
        </li>
      </ul>

      <script>
        function myFunction() {
        document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
        }
      </script>
    </header>

    <script src="/js/UpdatePatientBadge.js" defer></script>

    <aside>
      <div class = "greeting">
        <h1> Hi {{patient_name}}!</h1>
      </div>
      <div class = "date">
        <h4 id="MyP">Today is {{today}} </h4>
        <script>
            var today = new Date();
            var day = today.getDay();
            var daylist = ["Sunday","Monday","Tuesday","Wednesday ","Thursday","Friday","Saturday"];
            document.getElementById("MyP").innerHTML += daylist[day];
        </script>
      </div>

    </aside>

    <main>
      <section>
        <div class = "sectionborder">
          <h3>Today's support message</h3>
          <div id="welcomeDiv"  style="display:none;" class="answer_list" > {{message}}</div>
          <input type="button" class = "button viewbutton" name="answer" value="View" onclick="showDiv()" />
          <script>
            function showDiv() {
            document.getElementById('welcomeDiv').style.display = "block";
          }
</script>
          

          </div>
          </section>
      <br><br>
      

      <section>
        <div class = "sectionborder">
          <h3>Record today's data</h3>
            {{>patient_data_edit}}
        </div>
      </section>
      <br><br>

      <section>
        <div class = sectionborder>

        <h3>You've recorded these data</h3>
          <table>
            <tr>
              <!--only present the checkbox if -->
              {{#if data.blood_level.required}}
              <td> 
                {{#if data.blood_level.recorded}}
                <input type="checkbox" id="bgl" name="bgl" value="bgl" onclick="return false"checked>Blood glucose level<br></td>
                {{else}}
                <input type="checkbox" id="bgl" name="bgl" value="bgl" onclick="return false">
                <label for="bgl">Blood glucose level</label>
                {{/if}}
              </td>
              {{/if}}
              {{#if data.weight.required}}
              <td>
                {{#if data.weight.recorded}}
                <input type="checkbox" id="weight" name="weight" value="weight" onclick="return false"checked>Weight<br></td>
                {{else}}
                <input type="checkbox" id="weight" name="weight" value="weight" onclick="return false">
                <label for="weight">Weight</label>
                {{/if}}
              </td>
              {{/if}}
              {{#if data.insulin_intake.required}}
              <td>
                {{#if data.insulin_intake.recorded}}
                <input type="checkbox" id="insulin" name="insulin" value="insulin" onclick="return false"checked>Insulin<br></td>
                {{else}}
                <input type="checkbox" id="insulin" name="insulin" value="insulin" onclick="return false">
                <label for="insulin">Insulin</label>
                {{/if}}
              </td>
              {{/if}}
              {{#if data.exercise.required}}
              <td>
                {{#if data.exercise.recorded}}
                <input type="checkbox" id="exercise" name="exercise" value="exercise"onclick="return false"checked>Exercise<br></td>
                {{else}}
                <input type="checkbox" id="exercise" name="exercise" value="exercise" onclick="return false">
                <label for="exercise">Exercise</label>
                {{/if}}
              </td>
              {{/if}}
            </tr>
          </table>
        </div>
      </section>
      <br><br>

      <script>
      function isChecked() {
        if (data.blood_level.recorded && data.weight.recorded && data.insulin_intake.recorded && data.exercise.recorded) {
          return true;
        } else {
          return false;
        }
      }
      </script>


      <section>
          {{#if isChecked}}
        <div class = sectionborder>
          <h3>Today's badge</h3>
          <center> <img class = "image" src = "/badge.png" id = "badge"> </center>
        </div>
          {{/if}}
      </section>
      <br><br>
    </main>

    
    <nav>
      <div class="sidenav">
          <img class = "image" src = "/page-logo.png">
      </div>
    </nav>
  
    <footer>
      <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
    </footer>
  </body>
</html>
