<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/about.css" />

    <title>Template</title>

    <style>
      
    </style>
  </head>

  <!-- content of webpage begins here -->
  <body>
    <header>
      <h2>Homepage</h2>
    </header>

    <aside>
      <div class = "greeting">
        <h1> Hi {{name}}!</h1>
      </div>
      <div class = "date">
        <h4> Today:{{today_date}}</h4>
      </div>

    </aside>

    <main>
      <section>
        <div class = "sectionborder">
          <h3>Today's support message</h3>
          <button class = "button viewbutton">View</button>
        </div>
      </section>
      <br><br>
      

      <section>
        <div class = "sectionborder">
          <h3>Record today's data</h3>

          <table style="width:100%">
            {{#with data}}
            <tr>
              <td>Blood glucose level(mmol/L)</td>
              <td>{{this.blood_level.data}}</td>
              <td><button class = "button ">Enter</button></td>
              <td><button class = "button ">Comment</button></td>
            </tr>

            <tr>
              <td>Your weight(kg)</td>
              <td>{{this.weight.data}}</td>
              <td><button class = "button ">Enter</button></td>
              <td><button class = "button ">Comment</button></td>
            </tr>

            <tr>
              <td>Doses of insulin taken(doses)</td>
              <td>{{this.insulin_intake.data}}</td>
              <td><button class = "button ">Enter</button></td>
              <td><button class = "button ">Comment</button></td>
            </tr>

            <tr>
              <td>Exercise(step count)</td>
              <td>{{this.exercise.data}}</td>
              <td><button class = "button ">Enter</button></td>
              <td><button class = "button ">Comment</button></td>
            </tr>
            {{/with}}
          </table>
        </div>
      </section>
      <br><br>
      

      <section>
        <div class = sectionborder>
          <h3>Today's badge</h3>
          <table style="width:100%">

            <tr>
              <td>
                <input type="checkbox" id="bgl" name="bgl" value="bgl">
                <label for="bgl">Blood glucose level</label>
              </td>
              <td>
                <input type="checkbox" id="weight" name="weight" value="weight">
                <label for="weight">Weight</label>
              </td>
            </tr>

            <tr>
              <td>
                <input type="checkbox" id="insulin" name="insulin" value="insulin">
                <label for="insulin">Insulin</label>
              </td>
              <td>
                <input type="checkbox" id="exercise" name="exercise" value="exercise">
                <label for="exercise">Excercise</label>
              </td>
            </tr>
          </table>
        </div>
      </section>
      <br><br>
    </main>

    
    <nav>
      <div class="sidenav">
        <p>
          <a href="#Homepage">Homepage</a>
        </p>
        <p>
          <a href="#History data">History data</a>
        </p>
        <p>
          <a href="#Leader board">Leader board</a>
        </p>
      </div>
    </nav>
      </div>
    </nav>

    <footer>
        <a href="#">About this website</a>
        <a href="#">About diabetes</a>
        <a href="#">Log out</a>

    </footer>
  </body>
</html>
